////
/// Copyright (c) 2016-2021 Martin Donath <martin.donath@squidfunk.com>
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL
/// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Hero
.mdx-hero {
  display: block;
  height: inherit;

  // Hero is hidden
  .js &[hidden] > * {
    transform: translateY(16px);
    opacity: 0;
    transition:
      transform 0ms 100ms,
      opacity 100ms;
  }

  // Hero scroll wrapper
  &__scrollwrap {
    position: sticky;
    top: 0;
    z-index: 9;
    height: 100vh;
    // Hack: add bottom margin, so the element stays in place, even though the
    // bottom of the container is reached, as it disappears behind the gradient
    margin-bottom: -100vh;
  }

  // Hero wrapper
  &__inner {
    position: absolute;
    bottom: px2rem(64px);
    display: block;
    width: 100%;
    transition:
      transform 400ms cubic-bezier(0.1, 0.7, 0.1, 1),
      opacity   250ms;

  }

  // Hero teaser
  &__teaser {
    max-width: px2rem(480px);
    margin: 0 px2rem(16px);
    color: var(--md-primary-bg-color);
    // Hack: promote to own layer to reduce jitter
    backface-visibility: hidden;

    // Hero headline
    h1 {
      margin-bottom: 0;
      color: inherit;
      font-weight: 700;
    }

    // Hack: set text shadow to improve readability of white text against the
    // images but skip the buttons as text shadow is not very Materialy
    :not(.md-button) {
      text-shadow: 0 0 px2rem(4px) rgba(33, 29, 45, 0.8);
    }
  }

  // Hero attribution link
  & &__attribution {
    position: absolute;
    right: px2rem(16px);
    bottom: px2rem(-48px);
    padding: px2rem(2px) px2rem(8px);
    color: var(--md-default-fg-color);
    font-size: px2rem(10px);
    background-color: var(--md-default-bg-color--light);
    border-radius: px2rem(2px);
    transition:
      color 125ms,
      background-color 125ms;

    // Link on focus/hover
    &:focus,
    &:hover {
      color: var(--md-accent-bg-color);
      background-color: var(--md-accent-fg-color);
    }
  }

  // Hero more indicator - as much as we would love to animate this indicator,
  // if we do, it will completely occupy the GPU, which is why, argh...
  &__more {
    position: absolute;
    bottom: px2rem(-48px);
    left: 50%;
    display: block;
    margin-left: px2rem(-12px);
    text-align: center;
    pointer-events:all;
	cursor:pointer

    // More indicator icon
    svg {
      width: px2rem(40px);
      height: px2rem(40px);
      fill: rgba(255, 255, 255, 0.99);
    }
  }
}
