
.termynal-comment {
  color: #4a968f;
  font-style: italic;
  display: block;
}

.termy [data-termynal] {
  white-space: pre-wrap;
  width:30rem;
}

:root > * {
	--md-primary-fg-color:#375cfd!important;
  }
  .md-header:not(.md-header--shadow) {
    background-color: #375cfd!important;
    transition: background-color 125ms,transform 125ms cubic-bezier(.1,.7,.1,1),box-shadow 0ms;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');

  @font-face {
	font-family: "Comfortaa";
	src: "https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap";
  }

h1,h2,h3,.md-ellipsis,.md-nav__title {
	font-family:'Comfortaa';
	font-weight: 500;

}

.md-header__title {margin-left:-5px!important}

.md-header__button {width:-35px!important}

.md-header__button.md-logo :-webkit-any(img,svg) {
    fill: currentcolor;
    display: block;
    height: 1.75rem;
    width: auto;
}
